################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/DS1821/v15/ipch/AutoPCH/9732b81b/TEMPSENSOR-5e1bcdfc/TEMPSENSOR.ipch
/.vs/DS1821/v15/Browse.VC.opendb
/.vs/DS1821/v15/Browse.VC.db
/.vs/ProjectSettings.json
/.vs/DS1821/v15/Browse.VC.opendb
/.vs/DS1821/v15/ipch/AutoPCH/9732b81b/TEMPSENSOR-5e1bcdfc/TEMPSENSOR.ipch
/.vs/DS1821/v15/ipch/AutoPCH/9732b81b/TEMPSENSOR-5e1bcdfc/TEMPSENSOR.ipch
